<div class="container">
  <h1 class="text-center"><%= @restaurant.name %></h1>

  <p>Address: <%= @restaurant.address %></p>
  <p>Rating: <%= @restaurant.rating %></p>
</div>

<div class="mx-auto w-50 row justify-content-around">
  <%= link_to 'back', restaurants_path, class: 'btn btn-sm btn-primary col-3' %>
  <%= link_to 'edit', edit_restaurant_path(@restaurant), class: 'btn btn-sm btn-warning col-3' %>
  <%= link_to 'delete', restaurant_path(@restaurant),
  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
  class: 'btn btn-sm btn-danger col-3' %>
</div>
